bin/
obj/
out/
.vs/
.idea/
.vscode/
*.log
*.user
*.suo
.DS_Store
Thumbs.db
*.nupkg
*.snupkg
packages/
*.dbmdl
*.bak
*.backup
*.mdf
*.ldf
*.publish.xml
wwwroot/uploads/
wwwroot/files/

# Image files
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.svg
*.webp
*.tiff

